body {
    background-color: #f0f0f0;
}

#loading {
    background-color: #333333;
}

#scatter {
    padding: 16px;
    margin: 20px;
}

#info {
    padding: 16px;
    margin: 20px;
    margin-left: 0;
}

#thumbnails-card {
    padding: 16px;
    margin: 20px;
    margin-top: 10px;
}

#lower-ratio-field {
    float: left;
    margin-right: 2%;
}

#upper-ratio-field {
    float: right;
    margin-left: 2%;
}

#ratio-fields {
    margin-top: 10px;
}

#show-thumbnails {
    margin-top: 10px;
}